.author-desc1 {
  margin-top: 80px;
  margin-left: 1px;
}
.ads {
  padding-inline: 300px;
  margin-left: 35px;
  height: 280px;
  padding-top: 60px;
}

.social-icons {
  font-size: 25px;
  color: gray;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 230px;
}

.grid-author img {
  margin-right: 150px;
}

.writer {
  color: black;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  margin-left: 270px;
  margin-top: -35px;
}

.collab {
  margin-top: -10px;
  margin-left: 40px;
  font-size: small;
}

.author-bio {
  line-height: 1.5;
  margin-bottom: 70px;
}

.grid-sec {
  margin-top: 10px;
}
